<div class="sidebar bg-light p-3">
    <ul class="nav flex-column">
        <li class="nav-item"><a class="nav-link" asp-controller="Salesperson" asp-action="Dashboard">Dashboard</a></li>
        <li class="nav-item"><a class="nav-link" asp-controller="Salesperson" asp-action="ViewInventory">View Inventory</a></li>
        <li class="nav-item"><a class="nav-link" asp-controller="Salesperson" asp-action="AddStock">Add Stock</a></li>
        <li class="nav-item"><a class="nav-link" asp-controller="Salesperson" asp-action="ViewStockRecord">View Stock Record</a></li>
        <li class="nav-item"><a class="nav-link" asp-controller="Salesperson" asp-action="ViewSalesRecords=">View Sales Record</a></li>
        <li class="nav-item"><a class="nav-link" asp-controller="Salesperson" asp-action="ReturnItem">Return Item</a></li>
        <li class="nav-item"><a class="nav-link" asp-controller="Salesperson" asp-action="ViewAllReturns">View All Returns</a></li>
        <li class="nav-item"><a class="nav-link" asp-controller="Salesperson" asp-action="ChangePassword">Change Password</a></li>
        <li class="nav-item"><a class="nav-link" asp-controller="Salesperson" asp-action="Logout">Logout</a></li>
    </ul>
</div>
